.header {
    background: orange;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
    z-index: 1000;
}

.footer {
    background: orange;
    width: 100%; 
    position: fixed;
    left: 0;
    bottom: 0;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}